<h1>Editing competence</h1>

<%= render "form", competence: @competence %>

<br>

<div>
  <%= link_to "Show this competence", @competence %> |
  <%= link_to "Back to competences", competences_path %>
</div>
